.list {
    width: 100%;
    display: flex;
    gap: 1px;
    background-color: var(--main-color);
}

.year {
    width: 5.75rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--light-color);

    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1rem;
    flex-shrink: 0;
}

.dayCell {
    width: 3.25rem;
    padding: 0.25rem 0;
    background-color: var(--light-color);
    flex-shrink: 0;

    text-align: center;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1rem;
    border-bottom: 1px solid var(--main-color);
    text-transform: capitalize;
}

.weekend {
    background-color: var(--main-color);
}