.cell {
    user-select: none;

    flex-shrink: 0;
    max-width: 3.25rem;
    width: 100%;
    padding: 0.25rem 0;
    background-color: var(--light-color);

    text-align: center;
}

.activeCell {
    border: 1px dashed green;
}

.cellTitle {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1rem;
}

.item {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem;
}